.two-grids-contact {
    background-color: rgba(153, 153, 153, 0.671);
    border: 2px solid black;
    border-radius: .5rem;    
    padding: 1em;
    min-width: 60em;
}

.form-container {
    padding: 1em;
    background-color: #80808036;
}

.button {
    background-color: rgb(214, 194, 14);
}

h1 {
    color: rgb(58, 42, 21);
}



