.footer {
    margin-top: 2rem;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 1rem;
}

.text-caption {
    font-size: 12px;
}

.signature {
    font-size: 6px;
}


